__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
modelos/*.pkl
modelos/*.pt
salidas/*
registros/*
reportes/*
datos/reidentificacion/*
datos/rostros/*
venv/*
pruebas/videos/*
pruebas/Imagenes nuevas/*
info/*
